<div id="main" class="col-xs-8">
                            <div class="posts list-group">
            <div class="post list-group-item" ng-repeat="p in post |filter: title">
        <h1 class="text-justify"><a href="/#/post/{{p.id}}">{{p.title}}</a></h1>
        <div class="post-info">
            <span class="author">
                <i class="fa fa-user"></i>
                By:<a href="/#/info">{{p.author}}</a>
            </span>
            <span class="category">
                <i class="fa fa-th-large"></i>
                <a href="">{{p.category}}</a>
            </span>
            <span class="create-time">
                <i class="fa fa-calendar"></i>
                {{p.created}}          </span>
            <span class="number-view">
            <i class="fa fa-eye"></i>
            {{p.number_view}} luợt xem
        </span>
        </div>
        <div class="clearfix">
            <img class="pull-left" style="width: 200px; height: 150px; " src="{{p.image}}" alt="{{p.title}}">
            <h2 class="summary text-justify">{{p.description}}</h2>
            <a class="btn btn-primary" href="/#/post/{{p.id}}">Xem tiếp <i class="fa fa-arrow-right"></i></a>

        </div>
    </div>
            <div class="list-group-item text-center">
        <ul class="pagination"><li class="disabled"><span>Đầu</span></li><li class="disabled"><span>≪</span></li><li class="active"><span>1</span></li><li class="disabled"><span>≫</span></li><li class="disabled"><span>Cuối</span></li></ul>    </div>
    </div>
        </div>