<div id="main" class="col-xs-8">

<div id="user" class="row">
    <div class="col-xs-3">
        <img class="img-responsive" src="upload/user/1399944710.jpg" alt="preferences">
    </div>
    <div class="col-xs-9">
        <h1>Sang Nguyen</h1>
        <div><label>Nhóm</label> :
                                        Administrator                        </div>
        <div><label>Tham gia</label> : 01-04-2014</div>
        <div><label>Lượt xem</label> : 7</div>
        <div><label>Bài viết</label> : 0</div>
        <div><label>Giới tính</label> : Nam</div>
        <div><label>Ngày sinh</label> : 26-03-1993</div>
        <div><label>Địa chỉ</label> : Hồ Chí Minh</div>
        <div><label>Sở thích</label> : Chơi Game</div>
    </div>
</div>
        </div>